.advantages {

    margin: 150px 0 0 0;
    position: relative;

    @include mobile {
        margin: 60px 0 0 0;
    }


    &__imgRight {
        position: absolute;
        right: 0;
        top: -70%;
        height: 1024px;

        z-index: -99    ;
    }


    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    &__title {
        display: flex;
        gap: 24px;
        justify-content: flex-start;
        flex-direction: column;

        h2 {
            font-family: $font-family;
            font-weight: 400;
            font-size: 30px;
            text-transform: uppercase;
            color: #fff;

            @include mobile {
                font-size: 20px;
            }

            span {
                font-family: $font-family;
                font-weight: 400;
                font-size: 30px;
                text-transform: uppercase;
                color: $pink;

                @include mobile {
                    font-size: 20px;
                }
            }
        }

        p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 18px;
            color: $text-grey;

        }
    }

    //Мобильный свайпер

    // &__cardSwiper {
    //     position: 40px;
    // }

    &__cardSwiper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 40px;
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 36px;

        p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $text-grey;
        }
    }

    &__cardTitleSwiper {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        h3 {
            font-family: $font-family;
            font-weight: 500;
            font-size: 22px;
            color: #fff;
        }
    }

    &__blockSwiper {
        flex-shrink: 0;
        border-radius: 16px;
        padding: 10px;
        width: 48px;
        height: 48px;
        background-color: $dark-grey;
    }

    &__swiper {
        display: none;

        @include mobile {
            display: block;
        }
    }

    &__paginationSwiper {
        position: relative;
        margin-top: 24px;
        height: 6px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.3);

        --swiper-pagination-color: #{$pink};

        .swiper-pagination-progressbar-fill {
            border-radius: 5px;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
    }

    &__card {

        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        gap: 32px;
        padding: 40px;
        border: 1px solid rgba(255, 255, 255, 0.13);
        border-radius: 36px;
        width: calc((100% - 64px)/3);

        p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $text-grey;
        }

        @include tablet {
            width: calc((100% - 32px) / 2);
        }

        @include small-tablet {
            width: 100%;
        }

        @include mobile {
            width: 100%;
            padding: 24px;
        }
    }

    &__cardTitle {
        display: flex;
        gap: 16px;

        align-items: center;

        h3 {
            font-family: $font-family;
            font-weight: 500;
            font-size: 22px;
            color: #fff;
        }
    }

    &__cards {
        display: flex;
        gap: 32px 32px;

        @include mobile {
            display: none;
        }
    }

    &__block {
        border-radius: 16px;
        padding: 10px;
        width: 48px;
        height: 48px;
        background-color: $dark-grey;
    }
}

.faq {

    margin: 150px 0 0 0;
    position: relative;

    @include mobile {
        margin: 98px 0 0 0;
    }

    &__imgLeft{
        position: absolute;
        height: 1444px;
        top: 0;
        left: 0;
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 64px;

        max-width: 800px;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-self: center;

        p {


            font-family: $font-family;
            font-weight: 566;
            font-size: 14px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: $pink;


        }

        h2 {
            font-family: $font-family;
            font-weight: 566;
            font-size: 40px;
            line-height: 110%;
            text-align: center;
            color: #fff;

            @include mobile {
                font-size: 22px;
            }
        }
    }



    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        div {
            width: 20px;
            height: 1px;
            background-color: $pink;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 40px;
    }

    &__listTitle {
        font-family: $font-family;
        font-weight: 700;
        font-size: 24px;
        color: $pink;
        margin-bottom: 32px;

        @include mobile {
            font-size: 20px;
        }
    }

    &__listItem {
        display: flex;
        flex-direction: column;
    }

    &__listHeader {

        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        cursor: pointer;

        border-bottom: solid 1px #aaa;
        padding-bottom: 24px;
        transition: all 0.3s ease;

        &.active {
            border-bottom: solid 0px transparent;
        }


        h3 {
            font-family: $font-family;
            font-weight: 400;
            font-size: 18px;
            color: #ececec;

            &:hover {
                color: $pink;
            }
        }

        svg {
            align-self: center;
            cursor: pointer;
        }
    }

    &__plus {
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;

        span:nth-child(1) {
            transform: rotate(90deg);
            background-color: #fff;
            position: absolute;
            width: 20px;
            height: 1px;
            top: 0;
            left: 0;

            transition: all 0.3s ease;
        }

        &.active {
            span:nth-child(1) {
                transform: rotate(180deg);
            }
        }

        span:nth-child(2) {
            background-color: #fff;
            width: 20px;
            height: 1px;
            display: block;
        }
    }

    &__content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        display: flex;
        gap: 20px;
        justify-content: space-between;

        transition: all 0.3s ease;

        p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #aaa;
        }
    }

    &__content.active {
        opacity: 1;
        overflow: hidden;
        border-bottom: solid 1px #aaa;

        p {
            padding: 0 0 24px 0;
        }
    }
}