.footer {
    position: relative;
    border-radius: 112px 112px 0 0;
    padding: 86px 0 0 0;

    &__imgLeft {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__imgRight {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__wrapp {
        display: flex;
        gap: 134px;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            width: 314px;
        }
    }

    &__left {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
        justify-content: space-between;
    }

    &__nav,
    &__menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__nav {
        h3 {
            font-family: $font-family;
            font-weight: 500;
            font-size: 22px;
            line-height: 130%;
            color: #fff;
        }
    }

    &__menu {
        li a {
            font-family: $font-family;
            font-weight: 300;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
            z-index: 99;

            &:hover {
                color: $pink;
            }
        }
    }

    &__contactUs {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__contactUsTop {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3 {
            font-family: $font-family;
            font-weight: 500;
            font-size: 22px;
            line-height: 130%;
            color: #fff;
        }

        a {
            font-family: $font-family;
            font-weight: 300;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        gap: 20px;

        z-index: 99;

        p {
            font-family: $font-family;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            color: rgba(255, 255, 255, 0.9);
        }

    }

    &__addressTop {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h3 {
            font-family: $font-family;
            font-weight: 500;
            font-size: 22px;
            line-height: 130%;
            color: #fff;
        }

        p {
            font-family: $font-family;
            font-weight: 300;
            font-size: 16px;
            color: #fff;
        }
    }

    &__social {
        display: flex;
        gap: 14px;
    }
}