.notFound {

    margin-top: 200px;

    @include mobile {
        margin-top: 130px;
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 16px;

        @include mobile {
            gap: 12px;
        }
    }

    &__ellipse {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__ellipseSmall {
        position: absolute;
        top: 10%;
        right: -20%;

        @include small-tablet {
            display: none;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 48px;

        @include mobile {
            gap: 24px;
        }

        h1 {
            font-family: $font-family;
            font-weight: 900;
            font-size: 320px;
            line-height: 80%;
            letter-spacing: -0.04em;
            text-align: center;
            color: $pink;

            @include tablet {
                font-size: 280px;
            }

            @include small-tablet {
                font-size: 212px;
            }

            @include mobile {
                font-size: 120px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 48px;

        @include mobile {
            gap: 22px;
        }
    }

    &__subtitle {
        font-family: $font-family;
        font-weight: 700;
        font-size: 64px;
        text-align: center;
        color: #fff;

        @include tablet {
            font-size: 60px;
        }

        @include small-tablet {
            font-size: 48px;
        }

        @include mobile {
            font-size: 32px;
        }
    }

    &__desc {
        font-family: $font-family;
        font-weight: 300;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        color: #a1a1a1;
        text-align: center;

        max-width: 800px;
        margin: 0 auto;
        width: 100%;

        @include mobile{
            font-size: 16px;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;

        @include mobile{
            gap: 12px;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        font-family: $font3;
        width: fit-content;
        padding: 12px 28px;
        border-radius: 32px;
        background-color: $pink;
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        z-index: 1;

        border: 1px solid transparent;
        transition: .3s all ease;

        @include mobile{
            padding: 14px 20px;
            width: 100%;
        }

        &:hover {
            border: 1px solid $pink;
            background-color: #fff;
            color: $pink;

            @include mobile {
                border: 1px solid #fff;
            }
        }

        &:active {
            border: 1px solid rgba(255, 255, 255, 0.25);
            background-color: transparent;
            color: #fff;

        }
    }

}