      <section class="about" id="about">
        <div class="container">
          <div class="about__wrapp">
            <div class="about__right">
              <div class="about__media">
                <img src="img/main/about.png" alt="Интерьер Delhi Cafe" />
              </div>
              <div class="about__content">
                <h2 class="about__label">О нас</h2>
                <div class="about__desc">
                  <p class="about__lead">
                    <span>Delhi Cafe</span> — это современный взгляд на
                    многогранные гастрономические традиции. Мы создали
                    комфортное и эстетичное пространство, где аутентичные вкусы
                    Индии встречаются с безупречным сервисом. Это место, где
                    приятно провести деловой обед, встретиться с друзьями или
                    насладиться неспешным ужином.
                  </p>
                  <p class="about__text">
                    Секрет нашего вкуса — в идеальном балансе. Мы не идём на
                    компромиссы: используем только свежие ингредиенты, чистые
                    составы и оригинальные специи, чтобы каждый гость мог
                    открыть для себя Индию заново.
                  </p>
                  <a href="#" class="about__btn">Подробнее о нас</a>
                </div>
              </div>
              <a href="#" class="about__btnMobile">Подробнее о нас</a>
            </div>
          </div>
        </div>
      </section>